@charset "utf-8";
/* CSS Document */
* { 
	padding: 0;
	margin: 0;
}

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

#container {
	
}


#title {
	font:16pt Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
}

#weeks {
	font:14pt Georgia, "Times New Roman", Times, serif;
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
	margin-bottom: 5px;
}

#content {
	padding-top: 5px;
	border-top: 1px solid #000;
	margin-top: 5px;
	font: 12pt Verdana, Arial, Helvetica, sans-serif;
}

#footer {
	font: 12pt Verdana, Arial, Helvetica, sans-serif;
}